@model CodeWarriors.IITDU.ViewModels.EditAccountModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" role="main">
    <div class="col-lg-7 top-bottom-padding center">
        <div class="well">
            <form class="form-horizontal" method="POST" action="Account/ChangePassword">
                <fieldset>
                    <legend>Edit Account</legend>
                    <div class="form-group">
                        <label for="inputUserName" class="col-lg-4 control-label">Email</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" id="inputUserName" name="Email" disabled value="@Model.Email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-4 control-label">Current Password *</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="inputPassword" name="CurrentPassword" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-4 control-label">New Password *</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-4 control-label">Confirm Password *</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="inputPassword" name="ConfirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-4">
                            <button class="btn btn-success" type="submit">Update</button>
                            <button class="btn btn-primary" type="reset">Reset</button>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                    @if (Session["Success"] != null)
                    {
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">
                                &times;
                            </button>
                            @Session["Success"]
                            @{Session.Remove("Success");}
                        </div>
                    }
                    @if (Session["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-hidden="true">
                                &times;
                            </button>
                            @Session["Error"]
                            @{Session.Remove("Error");}
                        </div>
                    }
                </fieldset>
            </form>

        </div>
    </div>
</div>