body {
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    margin: auto;
    float: none;
}

.top-bottom-padding {
    padding-bottom: 100px;
    padding-top: 80px;
}

a:link {
    text-decoration: none;
}
