<div class="col-lg-8 top-bottom-padding center">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>
                    Product
                </legend>
                <div class="form-group">
                    <label for="inputPName" class="col-lg-3 control-label">Product Name</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" data-ng-model="NewProduct.Dynamic[0]" placeholder="Product Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLName" class="col-lg-3 control-label">Category</label>
                    <div class="col-lg-9">
                        <select class="form-control" data-ng-options="option as option.category for option in categories"
                                data-ng-model="NewProduct.Dynamic[1]" data-ng-change="UpdateSubcategory()">
                            <option value="">Select Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLName" class="col-lg-3 control-label">Sub Category</label>
                    <div class="col-lg-9">
                        <select class="form-control" data-ng-options="option for option in subcategories"
                                data-ng-model="NewProduct.Dynamic[2]" data-ng-change="UpdateFormFields()">
                            <option value="">Select Sub Category</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Price</label>
                    <div class="col-lg-9">
                        <input type="number" data-ng-model="NewProduct.Dynamic[3]" min="0" class="form-control" id="inputPassword" placeholder="Price" name="Price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Total Available</label>
                    <div class="col-lg-9">
                        <input type="number" data-ng-model="NewProduct.Dynamic[4]" min="0" class="form-control" id="inputPassword" placeholder="Total Available" name="Price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-3 control-label">Manufacturer</label>
                    <div class="col-lg-9">
                        <input type="text" data-ng-model="NewProduct.Dynamic[5]" min="0" class="form-control" id="inputPassword" placeholder="Manufacturer" name="Manufacturer">
                    </div>
                </div>
                <div class="form-group" data-ng-repeat="item in DynamicFormList">
                    <label for="inputEmail" class="col-lg-3 control-label">{{item}}</label>
                    <div class="col-lg-9">
                        <input type="text" name="Email" placeholder="{{item}}" data-ng-model="NewProduct.Dynamic[$index+6]" class="form-control" />
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="inputEmail" class="col-lg-3 control-label">Image</label>
                    <div class="col-lg-9">
                        <input type="text" name="Email" placeholder="Image" data-ng-model="NewProduct.ImageUrl" class="form-control"/>
                    </div>
                </div>-->
                <div class="col-md-offset-3">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <!--<div class="fileinput-preview thumbnail imageProfile img-thumbnail" data-trigger="fileinput">
                        <img data-ng-src="/{{NewProduct.ImageUrl}}" alt="">
                    </div>-->

                                <div class="">
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new centerP"><i class="fa fa-check"></i>Select image</span>
                                        <span class="fileinput-exists centerP"><i class="fa fa-edit"></i>Add More...</span>
                                        <input type="file" multiple name="file" data-url="http://localhost:33754/Upload/Upload" upload>
                                    </span>
                                </div>
                                <div data-ng-repeat="file in files track by $index">
                                    {{file}}<span class="glyphicon glyphicon-remove" data-ng-click="RemoveImage(file)"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button class="btn btn-success" data-ng-click="AddProduct()">Add</button>
                        <button class="btn btn-primary" data-ng-click="ResetInfo()">Reset</button>
                    </div>
                </div><br/>
                {{Message}}
            </fieldset>
        </form>
    </div>
</div>