<div class="col-md-12 top-bottom-padding">
    <div class="col-md-3">
        <ul class="nav list-group">
            <li class="list-group-item">
                <a href="" data-ng-click="GetAllProducts()">Show All</a>
            </li>
            <li data-ng-repeat="category in categories" class="list-group-item">
                <a href="" data-ng-show="category.subcategories.length==0" data-ng-click="GetCategoryProducts(category.name)">{{category.name}}</a>
                <a href="" data-ng-show="category.subcategories.length>0" data-toggle="collapse" data-target="#{{category.id}}" data-ng-click="GetCategoryProducts(category.name)">
                    <span class="glyphicon glyphicon-tags"></span>
                    &nbsp;{{category.name}}
                </a>
                <ul data-ng-show="category.subcategories.length>0" class="nav collapse" id="{{category.id}}">
                    <li data-ng-repeat="subcategory in category.subcategories">
                        <a href="" data-ng-click="GetSubCategoryProducts(category.name,subcategory)">
                            &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tag"></span>
                            &nbsp;{{subcategory}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9" scroll="onScroll()">
        <div class=" well">
            Filter Products By
            <span class="pull-right">Product Name: <input class="input-xs" type="text" data-ng-model="NameFilter.Info.ProductName" /></span>
            <span class="pull-right">
                Price Range: <input class="input-xs" type="number" data-ng-model="range.minPrice" placeholder="From" />
                &nbsp;<input class="input-xs" type="number" data-ng-model="range.maxPrice" placeholder="To" />
            </span>
        </div>
        <div class="well">
            Sort Products By
            <button data-ng-click="sortparam = 'Info.Price'; reverse=!reverse" class="btn btn-default pull-right">Price</button>
            <button data-ng-click="sortparam = 'Info.PurchaseCount'; reverse=!reverse" class="btn btn-default pull-right">Most Sold</button>
        </div>
        <div data-ng-repeat="p in Products | filter: NameFilter:strict| filter: FilterByPriceRange | orderBy:sortparam:reverse">
            <product-item info="p.Info" add-to-cart="addToCart(productId)" add-to-wishlist="addToWishlist(productId)" image="p.ImageUrl"></product-item>
        </div>
        <!--<button scroll="onScroll()">Hello!</button>-->
        <!--<button class="center btn btn-default" data-ng-click="onScroll()">Load More!!</button>-->
    </div>

</div>