<div>
    <input type="text" id="address" value="@ViewBag.location" style="display: none" />
        <div id="map-canvas" class="col-md-6 col-md-offset-3" style="height: 400px"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
     
        <script type="text/javascript" src="~/Scripts/googleMap.js"></script>
        
</div>